* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    color: #333;
  }

  header {
    background-color: rgba(34, 34, 34);
    padding: 2vh;
    text-align: center;
    color: #fff;
  }

  main {
    padding: 2vh;
    max-width: 100vh;
    margin: 0 auto;
    
  }

  h1 {
    font-size: 2.5vh;
    margin-bottom: 1vh;
  }

  h2 {
    font-size: 4vh;
    margin-bottom: 4vh;
  }

  .juego {
    width: 60vh;
    height: 30vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 2vh;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 0.5vh;
    border-radius: 1vh;
    box-shadow: 0 0.5vh 1vh rgba(0, 0, 0, 0.1);
    overflow: hidden;
  }


  .juego img {
    height: 15vh;
    width: auto;
    border-radius: 5%;
    margin-bottom: 1vh;
  }


  .juego h3 {
    font-size: 1.8vh;
    margin-bottom: 0.5vh;
  }

/*   .juego p {
    font-size: 1.6vh;
    margin-bottom: 1vh;
    overflow: hidden;
    overflow-y: auto;
  } */

/* 
::-webkit-scrollbar {
  width: 10px; 
}

::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0);;
}

::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 5px;
 
}

::-webkit-scrollbar-thumb:hover {
  background-color: #555; 
}
 */

  .juego a {
    font-size: 1.5vh;
    color: #737373;
    text-decoration: none;
  }

  .juego a:hover {
    color: #595959;
  }

  footer {
    background-color: #222;
    padding: 2vh;
    text-align: center;
    color: #fff;
    font-size: 1.6vh;
    width: 100%;
    bottom: 0;
    position: absolute;
  }

  .DestacadosSeccion{
    position: relative;
    height: 40vh;
    width: auto;
    padding: 1vh;
    background-color: rgba(115, 115, 115, 0.5);
    display: flex;
    flex-direction: row;
    align-items: center;
    box-shadow: 0 0.5vh 1vh rgba(0, 0, 0, 0.1);
    border-radius: 2vh;
    overflow: hidden;
  }
  .anterior, .siguiente {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

.siguiente {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.anterior{
  left: 0;
  border-radius: 3px 0 0 3px;
}

.anterior:hover,.siguiente:hover {
  background-color: rgba(0, 0, 0, 0.8);
}