* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    color: #333;
  }

  header {
    background-color: #222;
    padding: 2vh;
    text-align: center;
    color: #fff;
  }

  main {
    padding: 2vh;
    max-width: 96vh;
    margin: 0 auto;
  }

  h1 {
    font-size: 2.5vh;
    margin-bottom: 1vh;
  }

  section {
    margin-bottom: 2vh;
  }

  .juego {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: #fff;
    padding: 2vh;
    border-radius: 1vh;
    box-shadow: 0 0.5vh 1vh rgba(0, 0, 0, 0.1);
  }

  .juego img {
    max-width: 95%;
    height: auto;
    margin-bottom: 1vh;
  }

  .juego h3 {
    font-size: 1.8vh;
    margin-bottom: 0.5vh;
  }

  .juego p {
    font-size: 1.6vh;
    margin-bottom: 1vh;
  }

  .juego a {
    font-size: 1.8vh;
    color: #007bff;
    text-decoration: none;
  }

  .juego a:hover {
    text-decoration: underline;
  }

  .opiniones-lista {
    text-align: left;
    list-style-type: none;
  }

  footer {
    background-color: #222;
    padding: 2vh;
    text-align: center;
    color: #fff;
    font-size: 1.6vh;
  }

  .back-button {
    font-size: 1.8vh;
    color: #022243;
    text-decoration: none;
  }